### IntelliJ ###
.idea/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### MacOS ###
DS_Store

### Python ###
__pycache__/
*.pyc
*.pyo
*.pyd

### Node ###
node_modules/

### Docker ###
docker-compose.override.yml

### Maven ###
target/

### Gradle ###
build/

### Angular ###
dist/
.angular/

### Executables ###
*.exe